html, body{
    margin: 0;
    background-image: url(../assets/poker-ash.jpg);
}

.cabecero{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 40px;
}

.carta{
    position: relative;
    width: 160px;
    margin-left: -80px;
}

#cartas-jugador, #cartas-computadora{
    height: 230px;
}
